h1{
    font-family: 'Courier New', Courier, monospace;
}
#p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#p3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#p4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#p5{
    font-family: 'Times New Roman', Times, serif;
}
#p6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#p7{
    font-family: Arial, Helvetica, sans-serif;
}
#p8{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#p9{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p10{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






