#div{
    width: 100px;
    height: 100px;
    color: rgb(51, 148, 34);
    background-color: black;
    display: inline-block;
    visibility: hidden;

}
#span{
    width: 100px;
    height: 100px;
    background-color: rgb(51, 148, 34);
    display: inline-block;
}